HomeWorkJS/build
HomeWorkJS/src
HomeWorkJS/.settings
HomeWorkJS/.classpath
HomeWorkJS/.project
HomeWorkJS/WebContent/WEB-INF

HomeworkJava/.settings
HomeworkJava/bin
HomeworkJava/.classpath
HomeworkJava/.project
HomeworkJava/src/com/permutation

**/Ebay/.project
**/Ebay/.settings/
**/Ebay/node_modules/
**/Ebay/bower_components/
**/Calculator/bower_components/
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
